<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) or "Facebook Likes" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/fb_root" %>

<%= yield %>

</body>
</html>
